<h1>This is the homepage for our app!</h1>

  <p>
  Here we can talk about the purpose of this website.
  I would like the purpose to be to help people achieve their goals
  by helping them plan out those goals, recording what they are doing,
  and recording what they are learning.
  </p>