<head>
  <link rel="stylesheet" type="text/css" href="trix.css">
  <script type="text/javascript" src="trix.js"></script>
  <style>
    trix-editor {
      height: 300px !important;
      max-height: 500px !important;
        overflow-y: auto !important;
    }
  </style>
</head>
<body>
  <h1>Edit Cheatsheet</h1>
  <%= render 'shared/cheatsheet_form' %>
</body>
